@charset "UTF-8";
/* Змінні */ /* Утиліти */
body {
  color: #757575;
  background-color: #fff;
  font-family: "Roboto", "-apple-system", "BlinkMacSystemFont", "avenir next", "avenir", "segoe ui", "helvetica neue", "helvetica", "Cantarell", "Ubuntu", "noto", "arial", "sans-serif";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Соціальні іконки */
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link--inverse-color {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-icons__link:hover {
  color: #fff;
  background-color: #2196f3;
}

.social-icons__icon {
  fill: currentColor;
}

/* Кнопки */
.button {
  color: #212121;
  background-color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button--primary {
  min-width: 216px;
  padding: 10px 32px;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--primary:hover, .button--primary:focus {
  background-color: #188ce8;
}

.button--secondary {
  min-width: 75px;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--secondary:hover, .button--secondary:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal__close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: #2196f3;
}

.modal__close-icon {
  fill: currentColor;
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form {
  width: 100%;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form__label {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__link {
  margin-left: 7px;
  color: #2196f3;
  text-decoration: underline;
}

.form__input {
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__icon-thumb {
  position: absolute;
  top: 30px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon-thumb {
  color: #2196f3;
}

.form__icon {
  fill: currentColor;
}

.form__textarea {
  padding: 12px 16px;
  margin-bottom: 15px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-left: 12px;
}

.policy-label__checkbox--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.policy-label__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-label__checkbox:checked + .policy-label__checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Шапка сайту */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* Логотип */
.logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
}

.logo__accent {
  color: #2196f3;
}

/* Основна навігація */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
.site-nav__link--active {
  color: #2196f3;
}
.site-nav__link--active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/* Телефон та email */
.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  vertical-align: middle;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: middle;
}

/* Блок герой */
.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Секції */
.section {
  padding: 94px 0;
}
.section--no-padding {
  padding-top: 0;
}
.section--inverse-bg-color {
  background-color: #f5f4fa;
}

.section__title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Наші переваги */
.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-list__item:not(:last-child) {
  margin-right: 30px;
}

.feature-list__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чим ми займаємося */
.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-list__item {
  position: relative;
  font-size: 0;
}

.work-list__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
}

/* Наша команда */
.team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-member__item {
  width: 270px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member__foto {
  display: block;
}

.team-member__wrapper {
  padding: 30px 24px;
}

.team-member__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-member__pos {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* Постійні клієнти */
.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client__icon {
  fill: currentColor;
}

/* Наші роботи */
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item {
  width: 370px;
  background-color: #fff;
}
.portfolio__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.product__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__wrapper {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.product__image {
  display: block;
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover .product__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.product__text-thumb {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #fff;
}

.product__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

/* Футер сайту */
.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
}

.page-footer__contacts-list {
  display: block;
}

.address {
  margin-top: 0;
  margin-bottom: 9px;
  color: #fff;
  font-style: normal;
}

.page-footer__wrapper {
  margin-left: 86px;
  padding-top: 12px;
}

.page-footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
}

/* Форма підписки */
.subscription-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.subscription-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form__button {
  position: relative;
  padding-right: 60px;
}
.subscription-form__button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/send.svg);
}/*# sourceMappingURL=main.css.map */